{% extends "base.html" %}
{% set active_page = "asset_summary" %}

{% block title %}RiskGenie｜刪除資產{% endblock %}

{% block page_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/asset_add.css') }}">
{% endblock %}

{% block main_content %}
    <div class="delete-card">


    <h2>
    確認刪除資產
    </h2>


   <p style="text-align:center;color:red;">
    ⚠️ 以下資產將被刪除，請確認資料
    </p>
    <form action="/asset_delete/{{ asset.id }}" method="post">

    <div class="form-group">
    <label>部門</label>
    <input type="text" value="{{ asset.department }}" readonly>
    </div>

    <div class="form-group">
    <label>上傳者</label>
    <input type="text" value="{{ asset.upload_user }}" readonly>
    </div>

    <div class="form-group">
    <label>建立時間</label>
    <input type="text" value="{{ asset.created_at }}" readonly>
    </div>

    <hr>

    <div class="form-group">
    <label>資產代碼</label>
    <input type="text" value="{{ asset.asset_id_code }}" readonly>
    </div>

    <div class="form-group">
    <label>資產類型</label>
    <input type="text" value="{{ asset.asset_type }}" readonly>
    </div>

    <div class="form-group">
    <label>資料類型</label>
    <input type="text" value="{{ asset.data_type }}" readonly>
    </div>

    <div class="form-group">
    <label>資產名稱</label>
    <input type="text" value="{{ asset.asset_name }}" readonly>
    </div>

    <div class="form-group">
    <label>資產描述</label>
    <textarea readonly>{{ asset.description }}</textarea>
    </div>

    <div class="form-group">
    <label>權責單位</label>
    <input type="text" value="{{ asset.department }}" readonly>
    </div>

    <div class="form-group">
    <label>保管單位(風險擁有者)</label>
    <input type="text" value="{{ asset.risk_owner }}" readonly>
    </div>

    <div class="form-group">
    <label>使用單位</label>
    <input type="text" value="{{ asset.use_department }}" readonly>
    </div>

    <div class="form-group">
    <label>放置地點</label>
    <input type="text" value="{{ asset.location }}" readonly>
    </div>

    <div class="form-group">
    <label>機密性(C)</label>
    <input type="text" value="{{ asset.confidentiality }}" readonly>
    </div>

    <div class="form-group">
    <label>完整性(I)</label>
    <input type="text" value="{{ asset.integrity }}" readonly>
    </div>

    <div class="form-group">
    <label>可用性(A)</label>
    <input type="text" value="{{ asset.availability }}" readonly>
    </div>

    <div class="form-group">
    <label>適法性(L)</label>
    <input type="text" value="{{ asset.legality }}" readonly>
    </div>

    <div class="form-group">
    <label>資產價值</label>
    <input type="text" value="{{ asset.asset_value }}" readonly>
    </div>

    <div class="button-group">

    <button type="submit" class="delete-btn">
    確認刪除
    </button>

    <a href="/summary">
    <button type="button" class="cancel-btn">
    取消
    </button>
    </a>

    </div>

    </form>
    </div>
{% endblock %}
