/* static/css/asset_summary.css */
.page-title{

    text-align:center;

    font-size:32px;

    margin-bottom:30px;

}
/* ===========================
   白色內容卡片
=========================== */

.summary-card{

    background:#fff;

    padding:30px;
    
    width:100%;

    border-radius:12px;

    box-shadow:0 2px 10px rgba(0,0,0,.08);

}

/* ===========================
   查詢區
=========================== */

.search-box{

    width:100%;

    display:flex;

    gap:20px;

    flex-wrap:wrap;

    align-items:flex-end;

    margin-bottom:30px;

}
.search-item{

    display:flex;

    flex-direction:column;

    width:220px;

}

.search-item label{
    margin-bottom:6px;
    font-weight:bold;
}

.search-item input,
.search-item select{

    width:220px;
    padding:10px;

    border:1px solid #ccc;

    border-radius:6px;

    font-size:15px;

}

.search-btn-group{

    display:flex;

    gap:10px;

}

.search-btn,
.reset-btn{

    padding:10px 22px;

    border:none;

    border-radius:6px;

    cursor:pointer;

    color:white;

}

.search-btn{

    background:#757575;

}

.search-btn:hover{

    background:#757575;

}

.reset-btn{

    background:#777;

}

.reset-btn:hover{

    background:#555;

}

/* ===========================
   表格
=========================== */

.table-container{

    width:100%;

    overflow-x:auto;

}
.asset-table{

    width:100%;

    min-width:2200px;

    border-collapse:collapse;

}
/* ===========================
   表格文字
=========================== */
.asset-table th{

    background:#757575;

    color:white;

}

.asset-table th,
.asset-table td{

    border:1px solid #ddd;

    padding:10px;

    text-align:center;

    white-space:nowrap;

    font-size:15px;

}

.asset-table th{

    background:#757575;

    color:white;

}

.asset-table tbody tr:hover{

    background:#eef6ff;

}

/* ===========================
   操作按鈕
=========================== */
.operation-btn{

    display:inline-block;

    padding:6px 12px;

    margin:2px;

    border-radius:6px;

    text-decoration:none;

    color:white;

}
.edit-btn{

    background:#2d8cf0;

}

.edit-btn:hover{

    background:#1976d2;

}

.delete-btn{

    background:#e74c3c;

}
.delete-btn:hover{

    background:#c0392b;

}
.bottom-action {
    text-align:center;
    margin-top:40px;
}

.check-btn {
    background-color:#ffffff;
    border:1px solid #000000;
    color:#000000;
    padding:10px 30px;
    font-size:20px;
    border-radius:12px;
    cursor:pointer;
}

.check-btn:hover {
    background-color:#f0f0f0;
}
